.containerQuemSomos{
    background-color: #ffffff;
    height: 85vh;
    background-image: url("../../assets/acoesDaConnect.png");
    background-repeat: no-repeat;
    background-size: 100% 85vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxTextosQuemSomos{
    //border: solid red;
    width: 45%;
    height: 62vh;

display: flex;
flex-direction: column;
justify-content: space-between;


h2{
    color: #205692;
    font-size: 2.5rem;
    //border: solid red;
    width: 55%
}
p{
    //border: solid red;
    font-size: 1.5rem;
    width: 90%;

}

}