.containerQuemSomos{
    background-color: #ffffff;
    height: 85vh;
    background-image: url("../../assets/acoesDaConnect.png");
    background-repeat: no-repeat;
    background-size: 100% 85vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxTextosQuemSomos{
    //border: solid red;
    width: 45%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


h2{
    color: #205692;
    font-size: 2.2rem;
    //border: solid red;
    width: 60%;
    justify-content: center;
    margin-bottom: 4%;
    padding-bottom: 2%;

}
p{
    //border: solid red;
    font-size: 1rem;
    display: flex;
    width: 70%;
    height: 70vh;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;

}

}

@media (min-width: 201px) and (max-width: 500px) {
    .containerQuemSomos{
    background-color: #ffffff;
    height: 78vh;
    background-image: none;
    //background-repeat: no-repeat;
    //background-size: 100% 85vh;
    //display: flex;
    //justify-content: flex-end;
    //align-items: center;
}

.boxTextosQuemSomos{
    //border: solid red;
    width: 100%;
    height: 60vh;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;


h2{
    //color: #205692;
    font-size: 1.4rem;
    //border: solid red;
    width: 100%;
    justify-content: center;
    text-align: center;
    //margin-bottom: 4%;
    //padding-bottom: 2%;

}
p{
    //border: solid red;
    font-size: 0.8rem;
    //display: flex;
    width: 100%;
    height: 95vh;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    //font-weight: 400;

}
}
}