.containerDeAcoes{
    background-color: #ffffff;
}
.boxTitulosAcoes{
    //border: solid green;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

h2{
    font-size: 2.3rem;
    color: #205691;
    font-weight: 700;
}    

p{
    font-size: 1.2rem;
    //border: solid red;
    width: 45%;
    text-align: center;
    font-weight: 400;

}
}

.containerCardsDeAcoes{
    //background-color: rgb(74, 69, 79);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardsDeAcoes{
    //border: solid red;
    width:25%;
    margin: 0.5rem;
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


img{
    height: 15vh;
    width: 20vw;


}

h2{
    color: #122F97;
    font-size: 1.3rem;
}

p{
    font-size: 0.8rem;
    text-align: center;
    //border: solid red;
    width: 75%;
}

button{
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #205691;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
}
@media (min-width: 201px) and (max-width: 500px) {

.boxTitulosAcoes{
    height: 15vh;
    justify-content: space-around;

h2{
    font-size: 1.8rem;
    color: #205691;
    width: 100%;
    text-align: center;
}    

p{
    font-size: 0.8rem;
    width: 92%;
    text-align: center;

}
}

.containerCardsDeAcoes{
    flex-direction: column;
    justify-content: space-around;
    
}

.cardsDeAcoes{
    width:94%;
    margin: 0.3rem;
    height: 40vh;
    border-radius: 8%;
    


img{
    height: 15vh;
    width: 70vw;


}

h2{
    color: #122F97;
    font-size: 1.2rem;
}

p{
    font-size: 0.8rem;
    text-align: center;
    width: 75%;
}

button{
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #205691;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
}
}