.containerDeAcoes{
    background-color: rosybrown;
}
.boxTitulosAcoes{
    border: solid green;
    height: 25vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

h2{
    font-size: 3rem;
    color: blue;
}    

p{
    font-size: 1.5rem;
    border: solid red;
    width: 30%;
    text-align: center;

}
}

.containerCardsDeAcoes{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.cardsDeAcoes{
    border: solid;
    width:20%;
    margin: 1rem;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


img{
    height: 15vh;


}

p{
    font-size: 1rem;
    text-align: center;
    border: solid red;
}
button{
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #205691;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
}