.containerTelaPerfil{
    background-color: aquamarine;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;

    article{
        display: flex;
        border: solid red;
        border-radius: 30%;

        img{
            border-radius: 100%;
            height:30vh;
            width: 25%;
            border: solid #00AAFF;
        }
    }

}

.cardInfo{
    border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .paragrafoSobreMim{
        border: solid red;
        text-align: center;
    }
}

address{
    display: flex;
    justify-content: center;
    border: solid blue;
}

.listaInteresses{
    border: solid green;
    display: flex;
    width: 80%;
    justify-content: space-evenly;


    li{
        background-color: #D4E7D6;
        padding: 0.5rem;
        color: #278733;
    }

}