.containerTelaPerfil{
    background-color: #ffffff;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;

    article{
        display: flex;
        border: #efeeea;
        border-radius: 16px;
        justify-content: space-around;
        height: 50vh;
        align-items: center;

        img{
            border-radius: 100%;
            height:30vh;
            width: 25%;
            border: solid #00AAFF;
        }
    }

}

.cardInfo{
    //border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 62%;
    height: 30vh;

    h3{
       color: #278733;
       
    }

    .paragrafoSobreMim{
        //border: solid red;
        text-align: center;
        width: 75%;
    }
}

address{
    display: flex;
    justify-content: space-around;
    //border: solid blue;
    width: 35vw;
    height:9vh ;
    text-align: center;
    flex-wrap: wrap;
}

.listaInteresses{
    //border: solid green;
    display: flex;
    width: 80%;
    justify-content: space-evenly;


    li{
        background-color: #D4E7D6;
        padding: 0.5rem;
        color: #278733;
        border-radius: 10px;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .containerTelaPerfil{
    //background-color: #ffffff;
    //display: flex;
    height: 90vh;
    //justify-content: center;
    //align-items: center;
    

    article{
        border-radius: 16px;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        flex-direction: column;

        img{
            border-radius: 100%;
            height:25vh;
            width: 35%;
            border: solid #00AAFF;
        }
    }

}

.cardInfo{
    //border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 95vh;

    h3{
       color: #278733;
       height: 40%;
       font-size: 1rem;
       margin-top: 2px;
       //border: solid red;
       
    }

    .paragrafoSobreMim{
        //border: solid red;
        text-align: center;
        width: 95%;
        height: 8vh;
        
    }
}

address{
    justify-content: space-evenly;
    //border: solid blue;
    width: 65vw;
    height: 9vh;
    margin-top: 8px;
    text-align: center;
    flex-wrap: wrap;
}

.listaInteresses{
    border: solid green;
    display: flex;
    width: 100%;
    justify-content: space-around;


    li{
        //background-color: #D4E7D6;
        padding: 0.1rem;
        text-align: center;
        font-size: 0.8rem;
        //color: #278733;
        border-radius: 10px;
        justify-content: center;
        
    }
}

}