.containerTelaInicial {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        //border: solid red;
        width: 45%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    

    h1 {
        font-size: 4.42rem;
        width: 90%;
        //border: solid purple;
        color: #205691;
    }
    p {
      font-size: 1.2rem;
      width: 80%;
    }
}
}

@media (min-width: 201px) and (max-width: 500px) {
  .containerTelaInicial{
    //background-color: rgb(209, 209, 201);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

    div{
        //border: solid;
        width: 90%;
        height: 40vh;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    

    h1{
        font-size: 2rem;
        width: 80%;
        //border: purple;
        
    }
    p {
      font-size: 0.75rem;
      width: 1000%;
      text-align: center;
    }
}
img{
    width: 70%;
    border-radius: 100%;
}
}
}