.navbar{
    background-color:#205691;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;

    .logo{
      width: 4vw;
    }

    ul{
        //border:solid red;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        color: #ffffff;
        font-size: 1.42rem;
    
  }

  a{
    color:#ffffff;
    font-size: 1.25rem;
  }

    

    .imgPerfil{
        height: 10vh;
        border: solid #00aaff 2px;
       width: 5vw;
        border-radius: 100%;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
 .navbar{
    //background-color:#205691;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;

    .logo{
      width: 8vw;
    }

    ul{
        //border:solid red;
        display: flex;
        width: 65%;
        height: 70%;
        justify-content: space-evenly;
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
    
  }

  a{
    color:#ffffff;
    font-size: 0.7rem;
    
  }

    

    .imgPerfil{
        height: 7vh;
        //border: solid #00aaff 2px;
        width: 7vw;
        border-radius: 100%;
    }
  }
}