.navBar{
    background-color:#205691;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;

    .logo{
      width: 5vw;
    }

    ul{
        //border:solid red;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        color: #ffffff;
        font-size: 1.42rem;
    
  }

    

    .imgPerfil{
        height: 10vh;
        border: solid #00aaff 2px;
       width: 5vw;
        border-radius: 100%;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
  .navBar {
    height: 10vh;

    ul {
      font-size: 0.85rem;
    }


    .logo {
      width: 10vw;

      
    }
    .imgPerfil{
      height: 6vh;
      width: 10vw;
    }
  }
}