footer {
    background-color: #205691;
    display: flex;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    color:#ffffff;


div{
    //border: solid;
    display: flex;
    width: 6%;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 68%;
}
h2{
    font-size: 1.6rem;
    font-weight: 400;
}
}

p{
    //border: solid green;
    width: 26%;
    font-weight: 400%;
    text-align: center;
    font-size: 0.8rem;
}

.navFooter{
    //border: solid red;
    width: 3%;
    display: flex;
    justify-content: space-around;
}

@media (min-width: 201px) and (max-width: 500px) {
   footer {
    //display: flex;
    height: 35vh;
    flex-direction: column-reverse;
    //justify-content: space-around;
    //align-items: center;
    //color:#ffffff;


div{
    //border: solid;
    //display: flex;
    width: 60%;
    //align-items: center;
    //justify-content: space-around;
}
img{
    width: 18%;
    //border: solid red;
}
h2{
    font-size: 1.5rem;
    font-weight: 400;
}
}

p{
    //border: solid green;
    width: 86%;
    //font-weight: 400%;
    //text-align: center;
    //font-size: 0.8rem;
}

.navFooter{
    //border: solid red;
    width: 60%;
    //display: flex;
    //justify-content: space-around;
}
}